# Flyway database migration credentials file
conf/flyway.conf
# environment variables file
.env
# node modules (they'll all be unpacked with npm install anyway)
node_modules/
# copy of latest file provenance report
components/fpr/seqware_files_report_latest.tsv.gz
# copy of small versions of file provenance report
components/fpr/backups/*fpr.tsv
components/fpr/fpr-latest.tsv
# sqlite database
components/fpr/fpr.db*
test/fpr.db-*
# logs
logs/*.log
