# Flyway database migration credentials file
conf/flyway.conf
# environment variables file
.env
# node modules (they'll all be unpacked with npm install anyway)
node_modules/
# copy of latest file provenance report
components/fpr/seqware_files_report_latest.tsv.gz
# copy of latest small version of file provenance report
components/fpr/*fpr.tsv
